.container {
  background: white;
  gap: 16px;
  margin-top: 24px;
  padding: 24px;  
  width: 1000px;
}

.header {
  gap: 10px;
  justify-content: center;  
  width: 100%;
}

.contact {
  align-items: center;
}

.contact > .line2 {
  gap: 10px;
}
