@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  box-sizing: border-box;
}

/* Primary color */
.cl-pr {
  color: brown;
}

/* Secondary color */
.cl-sc {
  color: grey;
}

/* Flex Display - Direction Row */
.fr {
  display: flex;
  flex-direction: row;
}

/* Flex Display - Direction Row */
.fc {
  display: flex;
  flex-direction: column;
}

/* Title type font */
.ft-tl {
  font-family: 'Raleway';
  font-size: 18pt;
  font-weight: 700;
}

.ft-h3 {
  font-family: 'Ubuntu';
  font-size: 9pt;
  font-weight: 500;
}

#root {
  background: black;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.container {
  background: white;
  gap: 16px;
  margin-top: 24px;
  padding: 24px;  
  width: 1000px;
}

.header {
  gap: 10px;
  justify-content: center;  
  width: 100%;
}

.contact {
  align-items: center;
}

.contact > .line2 {
  gap: 10px;
}
