.container {
  background: white;
  gap: 16px;
  margin-top: 24px;
  padding: 24px;  
  width: 1000px;
}

.border {
  border-block: 2px dashed var(--cl-pr);
}

.logo > img {
  width: 100px;
}

.skills > img {
  width: 32px;
}